@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$url}.woff2') format("woff2"), url('#{$url}.woff') format("woff");
		font-weight: $weight;
	}
}

@include font-face('Montserrat', 'fonts/montserrat--bold', 700);
@include font-face('Montserrat', 'fonts/montserrat--regular', 400);
@include font-face('aGaramondPro', 'fonts/adobe-garamond-pro--bold', 700);